:root {
  --black: #333333;
  --gray:  #666666;
  --white: #ffffff;
  --blue:  #3131fc;
  --lh-title: 1.25;
  --lh-copy: 1.4;
  --h1-size: 11.642rem;
  --h2-size: 2.441rem;
  --p-size: 1.563rem;
  --space-0: 0;
  --space-1: calc((var(--lh-copy) * 1rem) / 2);
  --space-2: calc(var(--lh-copy) * 1rem);
  --space-3: calc((var(--lh-copy) * 1rem) * 2);
  --space-4: calc((var(--lh-copy) * 1rem) * 3);
  --custom-curve: cubic-bezier(0.03, 0.49, 1, 0.58);
  --time-1: 120ms;
}

@font-face {
  font-family: 'Bajern';
  src: url('../fonts/Bajern.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

::-moz-selection {
  background-color: var(--blue);
  color: var(--white);
  text-shadow: 1px 2px 1px var(--gray);
}

::selection {
  background-color: var(--blue);
  color: var(--white);
  text-shadow: 1px 2px 1px var(--gray);
}

.body {
  padding: 0 var(--space-2) 0 var(--space-1);
  text-rendering: optimizeLegibility;
  font-family: 'helvetica neue',
                helvetica,
                sans-serif;
}

.header {
  margin-bottom: var(--space-3);
}

.footer {
  margin-bottom: var(--space-4);
}

.h1 {
  font-family: 'Bajern', georgia, times, serif;
  font-size: var(--h1-size);
  line-height: var(--lh-title);
  margin-top: var(--space-1);
}

.h2 {
  font-size: var(--h2-size);
  font-weight: 100;
  line-height: var(--lh-title);
}

.p {
  font-size: var(--p-size);
  line-height: var(--lh-copy);
  margin-bottom: var(--space-2);
  color: var(--gray);
}

.a {
  color: var(--blue);
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.a:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--blue);
  z-index: -1;
  transition: all var(--time-1) var(--custom-curve);
}

.a:hover {
  color: var(--white);
  border-color: var(--blue);
  transition: color var(--time-1) var(--custom-curve);
}

.a:hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--blue);
  z-index: -1;
}

.credit {
  font-size: 0.512rem;
  margin-bottom: calc(var(--space-1) / 2);
}

.credit > .credit-item {
  margin-right: 0;
}

.credit-separator {
  display: none;
}
