@media screen
  and (min-width: 48em)
  and (max-width: 64em) {

  :root {
    --h1-size: 7.451rem;
    --h2-size: 1.953rem;
    --p-size: 1.25rem;
  }

  .body {
    padding: 0 var(--space-1);
  }

  .article {
    display: grid;
    grid-column-gap: var(--space-2);
    grid-auto-flow: column;
    grid-template-columns:
      1fr [copy-start] 1fr [header-start] 1fr 1fr 1fr [header-end copy-end] 1fr 1fr;
    grid-template-rows:
      [header-start] auto [header-end copy-start copy-1] auto [copy-2] auto [copy-3] auto
      [copy-4] auto [copy-5] auto [copy-end copy-6];
    grid-template-areas:  "...... ...... header header header ...... ......"
                          "...... copy   copy   copy   copy   ...... ......"
                          "...... copy   copy   copy   copy   ...... ......"
                          "...... copy   copy   copy   copy   ...... ......"
                          "...... copy   copy   copy   copy   ...... ......"
                          "...... copy   copy   copy   copy   ...... ......";
  }

  .header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h1 {
    flex: 1 0 auto;
  }

  .h2 {
    flex: 1 0 auto;
  }

  .p {
    max-width: 31rem;
  }

  .area-copy {
    grid-area: copy;
  }

}

@media screen
  and (min-width: 48em)
  and (max-width: 53em) {

  :root {
    --h1-size: 5.96rem;
  }

}
